:root {
  --light-cyan: hsl(193, 38%, 86%);
  --neon-green: hsl(150, 100%, 66%);

  --grayish-Blue: hsl(217, 19%, 38%);
  --dark-Grayish-Blue: hsl(217, 19%, 24%);
  --dark-Blue: hsl(218, 23%, 16%);
}

html {
  font-family: "Manrope", sans-serif;
  line-height: 1.5;
  font-weight: 800;
  font-size: 62.5%;
  background-color: var(--dark-Blue);
  color: var(--light-cyan);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.advice-div {
  background-color: var(--dark-Grayish-Blue);
  width: 75%;
  max-width: 600px;
  height: 55em;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.advice-number {
  color: var(--neon-green);
  align-self: center;
  margin: 40px 0;
  font-size: 2rem;
  letter-spacing: 0.2em;
}

.advice-text {
  width: auto;
  font-size: 3rem;
  text-align: center;
  padding: 0 5rem;
}

.btn {
  background-color: var(--neon-green);
  width: 60px;
  height: 60px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  align-self: center;
  bottom: -30px;
}

.btn img {
  width: 60%;
}

.btn:hover {
  cursor: pointer;
}
